@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
	background: #2d3436;
	font-family: 'Roboto Mono';
}

h1.white {
	font-size: 1rem;
	color: #fdcb6e;
	text-align: center;
}

.box {
	margin: 5rem;
	height: 150vh;
	display: flex;
	height: 100%;
}

.box > div {
	flex: 1;
	height: 20rem;
	display: flex;
}

.box > div h1 {
	margin: auto;
	color: #2d3436;
}

.box > div:first-child{
	border-top-left-radius: 3rem;
	border-bottom-left-radius: 3rem;
}

.box > div:last-child{
	border-top-right-radius: 3rem;
	border-bottom-right-radius: 3rem;
}

.box__info {
	background: #ffeaa7;
}

.box__npc {
	background: #ffeaa7;

}

.box__questions {
	background: #ff7675;
} 

.values {
	margin: 5rem;
	margin-bottom: 0;
	display: flex;
}

.values	h2 {
	color: #555555;
	flex: 1;
}
.img1{
	
}